{% extends 'revenue_in_engineering_school.html' %}

{% block content1 %}



{% endblock %}

{% block content2 %}

<table border = 2px style="margin: auto;width: 600px;">
   
    <tr>
        <th>{{" "}}</th>
        <td>CSE</td>
        <td>EEE</td>
        <td>PS</td>
        <td>SETS</td>
        <!-- <td>SPPH</td>
        <td>Total</td> -->
    </tr>
    {% for tr in revenue %}
        <tr>
           
                {% for td in tr %}
                    {% if td is None %}
                        <td> {{ 0 }}</td>
                    {% else %}
                        <td> {{ td }}</td>
                    {% endif %}
                {% endfor %}
          
        </tr>
    {% endfor %}
</table>

{% endblock %}